body {
  font-family: "Lato", sans-serif !important;
  background-color: rgb(236, 236, 236) !important;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

table {
  table-layout: auto;
  margin: 4rem 0 2rem 0 !important;
  border-radius: 5px;
}

footer {
  bottom: 0;
}

input {
  font-size: 14pt !important;
  display: inline !important;
}

.float-right {
  float: right !important;
}

th,
td {
  vertical-align: center !important;
  padding: 0.5rem 1rem 0.5rem 2rem !important;
}

#añadirIngrediente {
  margin-top: 1rem !important;
}

.botonDelete {
  font-size: 10px !important;
  font-weight: bold !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  max-width: 100px;
}

input[type="text"] {
  -moz-appearance: textfield;
  max-width: 200px;
}
