body {
  font-family: "Lato", sans-serif !important;
  background-color: rgb(42, 42, 42) !important;
  color: white;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

li {
  list-style-type: disc !important;
  margin-left: 2em !important;
}

tr {
  border-color: rgb(49, 49, 49) !important;
}

tr:hover {
  background-color: rgb(49, 49, 49) !important;
}

main {
  flex: 1 0 auto;
}

table {
  width: 80%;
  background-color: rgb(54, 54, 54);
  table-layout: fixed;
  margin: 4rem 0 2rem 0 !important;
  border-radius: 5px;
}

footer {
  bottom: 0;
}

.footer-copyright {
  color: rgb(126, 126, 126) !important;
  justify-content: center !important;
  align-items: center !important;
}

a {
  color: rgb(126, 126, 126) !important;
}

a:hover {
  color: rgb(230, 230, 230);
}

input {
  font-size: 1em !important;
  color: white;
  display: inline !important;
}

.float-right {
  float: right !important;
}

.hidden {
  opacity: 0;
}

th,
td {
  vertical-align: center !important;
  padding: 0.5rem 1rem 0.5rem 2rem !important;
}

.añadirIngrediente {
  margin-top: 1rem !important;
}

.botonDelete {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.head {
  text-align: right;
}

.alignright {
  text-align: right;
}

.head-boton {
  width: 10% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  max-width: 100px;
  text-align: right;
}

input[type="text"] {
  -moz-appearance: textfield;
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }

  table {
    width: 100%;
  }

  h3 {
    margin-left: 1rem !important;
  }

  p,
  ul,
  h3,
  .añadirIngrediente {
    margin: 1rem !important;
  }

  .total-weight {
    margin-left: 1rem !important;
  }

  .botonDelete {
    top: 5px;
    height: 30px !important;
    width: 30px !important;
    font-size: 10px !important;
    text-align: center !important;
    padding: 0 5px !important;
  }
  input {
    font-size: 14px !important;
  }

  .porcentaje-span {
    font-size: 14px !important;
  }

  input[type="number"].porcentaje {
    max-width: 50px;
  }

  footer {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  table {
    width: 80% !important;
  }
}
